* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calculator {
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    /* border: 5px solid darkorange; */
}

.display-container {
    /* height: 80%; */
    background-color: rgb(248, 244, 244);
    font-size: 1.5rem;
    text-align: right;
    padding: 20px;
}

.calculator__keys {
    /* border: 3px solid slateblue; */
    display: flex;
    /* border: 2px solid red; */
}

button {
    font-size: 1.5rem;
    padding: 20px;
}

.numbers-container {
    /* border: 3px solid salmon; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* flex-shrink: 0; */
}
/* .div10 { grid-area: 4 / 1 / 5 / 3 ;  }  */

.operands {
    /* border: 3px solid skyblue; */
    width: 20%;
    /* flex-shrink: 2; */
    display: flex;
    flex-direction: column;
}

.operands > button {
    background-color: orange;
}

/* .design {
    background-color: aqua;
    margin: 10%;
    width: 70%;
} */


@media only screen and (max-width: 500px) {

    button {
        font-size: 1rem;
        padding: 15%;
    }
    .operands {
        /* display: flex;
        flex-direction: row; */
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .numbers-container {
        width: 100%;
    }
    .calculator__keys {
        flex-direction: column;
    }

    .key--operator {
        width: 100%;
        padding: 10px;
    }
}

.sum {
    color: palevioletred;
}